h1 {
    font-family: 'Helvetica';
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background: url('../images/pattern.webp');
}

h2 {
    font-family: 'Helvetica';
    font-size: 32px;
    font-weight: bold;
    color: white;
}

figure {
    margin-left: 0;
}

.price {
    font-family: 'Helvetica';
    font-weight: bold;
    color: blue
}

.section-brushes h2 {
    background-color: MediumSpringGreen;
}

.section-frames h2 {
    background-color: LightCoral;
}

.section-paint h2 {
    background-color: SkyBlue;
}